*{
    margin: 0;
    padding: 0;
}

html{
    background-color: #FAFAFA;
    font-family: "Poppins", sans-serif;
}

.header-image{
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
